header {
    background-color: red;
    display: flex;
}

#nav {
    display: flex;
    justify-content: center;
    flex-grow: 7;
    margin-left: 5vw;
    font-size: 2.5vw;
    font-size: 2.5vw;
    font-size: 2.5vw;
}

#nav a {
    margin-left: 1vw;
    padding: 70px 0;
}

#logo {
    flex-grow: 3;
}
