header {
    background-color: #d7073a;
    padding: 0;
    margin: 0;
    position: sticky;
}

#nav {
    display: flex;
    justify-content: right;
    font-size: 14px;
    background-color: #434343;
}

#nav a {
    margin: 4px;
    margin-left: 1vw;
    margin-right: 1em;
    padding: 5px 4px;
    background-color: #d7073a;
    border-radius: 20px;
    border:3px solid #000000;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    transition: transform 1s;
}

#nav a:hover {
    transform: scale(1.1);
    box-shadow: #000000;
}

body {
    padding: 0;
    margin: 0;
}

