.center {
    margin: 0 auto;
    width: 90%;
    margin-top: 1vw;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    justify-content: center;
}

/*slidshow*/

#slideshow {
    height: 25vw; 
    background-image: url("../images/silly-little-guy.jpeg");
    background-size: contain;
    transition: background-image 1s;
}

.arrow-bar {
    width: 10%;
    height: 25vw;
    background-color: black;
    opacity: 0.4;
}

.arrow-bar button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.8;
    margin-top: 11vw;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.arrow-bar button:active {
    opacity: 1;
}

.arrow-bar button:hover {
    cursor: pointer;
}

#spacer {
    width: 80%;
}

/*discription*/

#discription {
    text-align: center;
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

#discription p {
    margin: 0;
    margin-top: 10%;
}

/*links*/

#links {
    width: 309.6px;
    text-align: center;
    border: #434343 solid 5px;
    height: 475px;
    position: relative;
}

#links h1 {
    margin: 0;
    font-size: 40px;
}

#links a {
    font-size: 30px;
    margin-top: 1em;
    display: block;
    text-decoration: none;
    font-weight: 100;
    color:black;
    font-family: sans-serif;
    border-bottom: 2px solid #d7073a ;
    padding-bottom: 1px;
}

#links a:active {
    font-weight: 500;
    color:black;
}

/*food icons*/

.food {
    border: 5px solid #d7073a;
    height: 220px;
    margin-bottom: 1em;
    transition: transform 0.5s;
}

.food img {
    width: 300px;
    height: 200px;
    margin-bottom: -2.6em;
}

.food p {
    background-color:#434343;
    color: white;
    padding: 4px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 5px;
    height: 1em;
    text-align: center;
}

.food:hover {
    transform: scale(1.03, 1.03);
}