h1{ 
    font-size:50px;
    margin: 0;
    margin-bottom: -12px;
    padding: 0;
}

p{
    font-size:15px;
    margin: 0;
    padding: 0;
}

h3{
    font-size:30px;
    border-bottom: 5px solid #d7073a ;
    display: inline-block;
}

ul, ol{
  font-size:20px;  
}

#food-img{
    display: inline-block;
    width: 30%;
    margin-left: 50vw;
}

#title {
    border-bottom: 5px solid #d7073a ;
    display: inline-block;
    margin: 1vw;
    margin-bottom: 3vw;
    padding: 0;
    min-width: 30%;
}

#title p {
    color: grey;
}

#info {
    max-width: 30vw;
    display: inline-block;
    position: absolute;
    margin-left: 1vw;
}

.step {
    width: 98%;
    margin: 0 auto;
    border-radius: 60px;
    padding: 10px;
    min-height: 30px;
    margin-bottom: 0.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

.red {
    background-color: #d7073a;
}

.grey {
    background-color: #434343;
}

.instructions {
    margin-left: 1vw;
}

#instructions {
    margin-top: 40vh;
}